*
{
    margin: 0;
    padding: 0;
}

body
{
    line-height: 1.8;
}

main
{
    width: 1000px;
    margin: auto;
}

article
{
    color: DarkSlateGrey;
    background-color:rgb(238, 238, 238);
}

h1
{
    color: Midnightblue;
    background-color:gainsboro;
    font-weight: 800;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
    text-shadow: -2px -2px 2px silver; 
}

h2
{
    color: SteelBlue;
    background-color:rgb(225, 225, 225);
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: -2px -2px 2px silver;
}

h3
{
    font-size: 24px;
}

p
{
    margin-bottom: 40px;
}

a
{
    text-decoration: none;
}

img
{
    width: 300px;
    border-radius: 10px;
}

ul
{
    background-color:silver;
    list-style-position: inside;
}

li
{
    background-color:lightgray;
    line-height: 1.8;
}

h1, h2
{
    margin: 20px 0px;
}

header, footer
{
    background-color:tomato;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    
}

header a, footer a
{
    color: black;
    text-decoration: none;
    margin: 0, 20px;
}

h1, h2, h3
{
    font-family: 'Roboto', sans-serif;
}

body, main, section, p, a
{
    background-color:rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
}