h1
{
    color: Midnightblue;
    background-color:gainsboro;
}

article
{
    color: DarkSlateGrey;
    background-color:rgb(238, 238, 238);
}

h2
{
    color: SteelBlue;
    background-color:rgb(225, 225, 225);
}

body, main, section, p, a
{
    background-color:rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
}

header, footer
{
    background-color:gainsboro;
}

ul
{
    background-color:silver;
}

li
{
    background-color:lightgray;
}

h1, h2, h3
{
    font-family: 'Roboto', sans-serif;
}